<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new Movie</title>
  </head>
  <body>
    <h1>Add a new Movie!</h1>
    <div class="add-movie-form-container">
      <form class="add-movie-form" action="/newmovie" method="post">
        <label for="movieName">Movie Name</label>
        <input type="text" name="movieName" value="">
        <label for="movieYear">Year</label>
        <input type="text" name="movieYear" value="">
        <label for="director">Director</label>
        <input type="text" name="director" value="">
        <label for="mainActor">Main Actor / Actress</label>
        <input type="text" name="mainActor" value="">
        <label for="imdbLink">IMDB Link</label>
        <input type="text" name="imdbLink" value="">
        <input type="submit" name="submitButton" value="Add the Movie!">
      </form>
    </div>
  </body>
</html>
